@import url('//fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css');
@import url('//fonts.googleapis.com/css?family=Heebo|Roboto|Tangerine|PT+Serif');

body{
    font-family: 'Heebo';
}
a{
    color: #5C4AC7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container{
  padding-top: 3%;
    width: 100%;
    max-width: 920px;
    margin: auto;
}

.heading{
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bold;
}
.center{
  text-align: center;
}

img{
    width: 100%;
    max-width: auto;
}
footer{
    bottom: 0;
    width: 100%;
    border:1px solid #ccc;
    border-width: 1px 0 0;
    padding-top:1rem;
    text-align:center;
    background-color: #ffffff;
}
footer i{
    color: #5C4AC7;
    filter: grayscale(100%);
}

footer i:hover{
    filter: grayscale(0%);
}
q{
    font-size: 3rem;
    font-family: 'Tangerine';
}
